body {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    justify-content: center;
    align-items: center;
}

label {
    margin: 2px;
    color: #343a40;
}

input[type=radio] {
    margin: 4px;
    cursor: pointer;
}

input[type=radio] + label {
    cursor: pointer;
}

input[type=radio]:checked + label {
    color: #007bff;
}


th:last-child,
td:last-child {
    text-align: right;
}

.break-20 {
    margin: 10px;
}

.login-box {
    padding: 25px 30px;
    width: 80%;
    max-width: 700px;
    background: #eef3f3;
    border: 1px solid #d6e0e0;
    border-radius: 4px;
}

.login-form {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.fds-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 5px;
}

.text-input-label {
    flex: 1 0 30%;
}

.text-input-field {
    flex: 1 0 70%;
    border: 1px solid #d6e0e0;
    border-radius: 4px;
    padding: 3px 9px;
}

.submit-btn {
    margin: 10px;
    min-width: 100px;
}
