body {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    justify-content: center;
    align-items: center;
}

label {
    margin: 2px;
    color: #343a40;
}

input[type=radio] {
    margin: 4px;
    cursor: pointer;
}

input[type=radio] + label {
    cursor: pointer;
}

input[type=radio]:checked + label {
    color: #007bff;
}


th:last-child,
td:last-child {
    text-align: right;
}

table.normal-table th:last-child, 
table.normal-table td:last-child {
    text-align: inherit;
}

table.shift-table th:not(:first-child), 
table.shift-table td:not(:first-child) {
    min-width: 150px;
}

table.shift-table td input {
    padding: 1px 3px;
    width: 35%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.address-dropdown {
    padding: 1px 3px;
    width: 70%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.review-table {
    width: 1000px;
}

.review-table .review-header {
    font-weight: bold;
    width: 100%;
}


.review-table .review-header,
.review-table .review-row {
    width: 100%;
}

.review-table .review-header,
.review-table .review-row,
.review-table .review-row .review-form,
.review-table .review-row .review-food-map .review-food-item {
    display: flex;
}

.review-table .review-row .review-food-map .review-food-item {
    justify-content: space-between;
}

.review-table .order-column,
.review-table .restaurant-column,
.review-table .food-column,
.review-table .price-column,
.review-table .review-column,
.review-table .rating-column {
    padding: 4px;
}

.review-table .food-column {
    padding-right: 10px;
}

.review-table .order-column {
    width: 10%;
}

.review-table {
    width: 1000px;
}

.review-table .review-header {
    font-weight: bold;
    width: 100%;
}


.review-table .review-header,
.review-table .review-row {
    width: 100%;
}

.review-table .review-header,
.review-table .review-row,
.review-table .review-row .review-form,
.review-table .review-row .review-food-map .review-food-item {
    display: flex;
}

.review-table .review-row .review-food-map .review-food-item {
    justify-content: space-between;
}

.review-table .order-column,
.review-table .restaurant-column,
.review-table .food-column,
.review-table .price-column,
.review-table .review-column,
.review-table .rating-column {
    padding: 4px;
}

.review-table .food-column {
    padding-right: 10px;
}

.review-table .order-column {
    width: 10%;
}

.review-table .restaurant-column {
    width: 15%;
}

.review-table .food-column {
    width: 25%;
}

.review-table .price-column {
    width: 10%;
}

.review-table .review-column {
    width: 25%;
}

.review-table .rating-column {
    width: 15%;
}

.review-form {
    width: 40%;
}

.review-table .review-form .review-column {
    width: 63%;
}

.review-table .review-form .rating-column {
    width: 37%;
}

.choose-delivery-table {
    width: 1000px;
}

.choose-delivery-table .choose-header {
    font-weight: bold;
    width: 100%;
}


.choose-delivery-table .choose-header,
.choose-delivery-table .choose-row {
    width: 100%;
    padding-bottom: 6px;
}

.choose-delivery-table .choose-header,
.choose-delivery-table .choose-row,
.choose-delivery-table .choose-row .choose-form {
    display: flex;
}

.choose-delivery-table .d-order-column,
.choose-delivery-table .d-restaurant-column,
.choose-delivery-table .d-food-column,
.choose-delivery-table .d-address-column,
.choose-delivery-table .d-take-column {
    padding: 4px;
}

.choose-delivery-table .d-food-column {
    padding-right: 10px;
}

.choose-delivery-table .d-order-column {
    width: 15%;
}

.choose-delivery-table .d-restaurant-column {
    width: 20%;
}

.choose-delivery-table .d-food-column {
    width: 30%;
}

.choose-delivery-table .d-address-column {
    width: 20%;
}

.choose-delivery-table .d-take-column {
    width: 15%;
}

.choose-form {
    width: 15%;
}

.menu-table {
    width: 1000px;
}

.menu-table .menu-header {
    font-weight: bold;
    width: 100%;
}


.menu-table .menu-header,
.menu-table .menu-row {
    width: 100%;
    padding-bottom: 6px;
}

.menu-table .menu-header,
.menu-table .menu-row,
.menu-table .menu-row .choose-form {
    display: flex;
}

.menu-table .m-name-column,
.menu-table .m-category-column,
.menu-table .m-price-column,
.menu-table .m-limit-column,
.menu-table .m-sold-column,
.menu-table .m-remove-column {
    padding: 4px;
}

.menu-table .m-name-column {
    width: 25%;
}

.menu-table .m-category-column {
    width: 15%;
}

.menu-table .m-price-column {
    width: 15%;
}

.menu-table .m-limit-column {
    width: 15%;
}

.menu-table .m-sold-column {
    width: 15%;
}

.menu-table .m-remove-column {
    width: 15%;
}

.menu-form {
    width: 10%;
}

.break-20 {
    margin: 10px;
}

.login-box {
    padding: 25px 30px;
    width: 80%;
    max-width: 700px;
    background: #eef3f3;
    border: 1px solid #d6e0e0;
    border-radius: 4px;
}

.delivery-box {
    padding: 25px 30px;
    width: 80%;
    max-width: 1000px;
    background: #eef3f3;
    border: 1px solid #d6e0e0;
    border-radius: 4px;
}

.login-form {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.log-hours-box {
    padding: 25px 30px;
    width: 80%;
    max-width: 1000px;
    background: #eef3f3;
    border: 1px solid #d6e0e0;
    border-radius: 4px;
}

.fds-input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 5px;
}

.text-input-label {
    flex: 1 0 30%;
}

.text-input-field {
    flex: 1 0 70%;
    border: 1px solid #d6e0e0;
    border-radius: 4px;
    padding: 3px 9px;
}

.submit-btn {
    margin: 10px;
    min-width: 100px;
}

.new-food-group {
    display: grid;
    grid-gap: 12px 36px;
    grid-template-columns: auto 1fr;
}

.new-food-group .submit-btn {
    grid-column-end: span 2;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}